<div class="form-group">
    <div class="input-group" data-bind="visible:pwdvisible">
        <input type="text" class="form-control" autocomplete="current-password" placeholder="Enter password"
               data-bind="value:password">
        <button class="btn btn-outline-secondary" type="button"
                data-bind="click:toggleVisibility" title="Hide password">
            <i class="far fa-eye-slash"></i>
        </button>
    </div>
    <div class="input-group" data-bind="hidden:pwdvisible">
        <input type="password" autocomplete="current-password" class="form-control" placeholder="Enter password"
               data-bind="value:password">
        <button class="btn btn-outline-secondary" type="button" title="Show password"
                data-bind="click:toggleVisibility">
            <i class="far fa-eye"></i>
        </button>
    </div>

</div>

